.buttons {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.buttons__block {
	display: flex;
	flex-wrap: wrap;

	&--service {
		justify-content: flex-end;
		width: 280px;
	}

	&--numbers {
		width: 170px;
		box-sizing: border-box;

		& .button {
			margin-right: 10px;
		}

		& .button:nth-child(3n) {
			margin-right: 0;
		}
	}

	&--signs {
		justify-content: flex-end;
		width: 50px;
		margin-left: auto;
	}
}

.button {
	width: 50px;
	height: 50px;
}
