.buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.buttons__numbers {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	box-sizing: border-box;
}

.buttons__signs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 20%;
}

.button {
	width: 50px;
	height: 50px;
}

.buttons__numbers .button {
	margin-right: 10px;
}

.buttons__numbers .button:nth-child(3n) {
	margin-right: 0;
} 